<div class="conteiner">
    <!-- Footer -->
    <footer class="page-footer font-small blue fixed-bottom position-relative">
        <div class="conteiner">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <p>OSF Global Services - André Cavalcante </p>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <!-- Footer -->
</div>