<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/71bb237577.js" crossorigin="anonymous"></script>
  <title>Alibazon</title>
</head>

<body>

  <%- include('header.ejs')%>
  <div class="conteiner">
    <div>
      <p>Home</p>
      <p>Welcome to Alibazon</p>
      <p>more description here...</p>
    </div>

    <div class="jumbotron">
      <img src="" alt="Men's Clothing Image">
      <p>Men's Clothing Image text</p>
      <div><a href="categories/mens">View Products</a></div>
    </div>

    <div class="jumbotron">
      <img src="" alt="Woman's Clothing Image">
      <p>Woman's Clothing Image text</p>
      <div><a href="categories/womans">View Products</a></div>
    </div>

    <%- include('footer.ejs')%>
  </div>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>
</body>

</html>